<!-- company-story.component.html
<mat-card>
    <mat-card-header>
      <mat-card-title>Our Company's Story</mat-card-title>
      <mat-card-subtitle>Learn about our journey and our amazing team</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in arcu auctor, blandit magna id, fermentum ex. 
        Proin fermentum magna a libero volutpat, vel elementum neque vulputate. Vestibulum eu magna vitae sapien hendrerit accumsan.
      </p>
      <p>
        Sed suscipit purus ac ex rutrum bibendum. Mauris a risus id quam dignissim tincidunt vitae vitae libero. 
        Maecenas sit amet enim a nulla ullamcorper volutpat vitae id ligula.
      </p>
      <p>
        Vivamus ultricies, libero et finibus gravida, mi quam convallis mauris, vel eleifend sapien velit at risus. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
        Suspendisse vitae tincidunt libero.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Meet Our Team</button>
    </mat-card-actions>
  </mat-card>
   -->
   <mat-card>
    <mat-card-header>
      <mat-card-title>Our Side's Story</mat-card-title>
      <mat-card-subtitle>Learn about our journey side, our amazing team, and what we do</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        At our company, we are dedicated to providing a platform that empowers and connects employees within each business. Our website serves as a centralized hub where employees can access company-specific resources, information, and tools tailored to their needs. Whether it's company policies, benefits information, or training materials, employees will find everything they need right here.
      </p>
      <p>
        Our platform is designed to accommodate the diversity and dynamics of different businesses. Each business has its own dedicated space, ensuring that employees see only relevant information and resources for their organization. This ensures a personalized experience that fosters engagement and productivity.
      </p>
      <p>
        We believe in transparency, creativity, and fostering strong relationships with our clients. Through collaboration and the contribution of each business, we create a dynamic and engaging platform that encourages creativity and innovation. Our platform is user-friendly and adaptable, making it easy for businesses to customize and utilize according to their unique needs and requirements.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="toLogin()">
        <mat-icon>login</mat-icon>
        login and start work!</button>
    </mat-card-actions>
</mat-card>
