   <div class="footer">
    <mat-toolbar color="warn">
      <span class="fill-remaining-space"></span>
      <div class="footer-content">
        <span>Employee Management Hub Developed by Batya Wail</span> 
        <span>&copy; 2024 </span>
        <div class="contact-info">
          <span class="contact"><a href="mailto:batya4119712@gmail.com">            
            <mat-icon>send-email</mat-icon>
            {{this.email}}
          </a></span>
          <span class="contact">|</span>
          <span class="contact">
            <mat-icon>phone</mat-icon>
            0504119712</span>
        </div>
      </div>
    </mat-toolbar>
  </div>
