<form [formGroup]="employeeForm" (ngSubmit)="submitForm()">

  <mat-accordion class="example-headers-align">
    <!-- Personal data panel -->
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Enter your name, identity and startDate
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter first name" type="text">
      </mat-form-field>

      <!-- Last Name -->
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter last name" type="text">
      </mat-form-field>

      <!-- Identity -->
      <mat-form-field>
        <mat-label>Identity</mat-label>
        <input matInput formControlName="identity" placeholder="Enter identity" type="text">
      </mat-form-field>

      <!-- Start Date -->
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="Choose a date" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Next button -->
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Birthdate and gender panel -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Birthdate and Gender
        </mat-panel-title>
        <mat-panel-description>
          Enter your birthdate and select your gender
          <mat-icon>event</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Date of Birth -->
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="birthdatePicker" formControlName="dateOfBirth"
          placeholder="Choose your birthdate" readonly>
        <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
        <mat-datepicker #birthdatePicker></mat-datepicker>
      </mat-form-field>

      <!-- Gender -->
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="maleOrFmale" placeholder="Select your gender">
          <mat-option value="0">Male</mat-option>
          <mat-option value="1">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Previous and next buttons -->
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>


    <!-- <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Role Selection
        </mat-panel-title>
        <mat-panel-description>
          Choose your roles and provide additional information
          <mat-icon>assignment</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngFor="let role of employeeRoles; let i = index" class="role-selection">
        <mat-form-field>
          <mat-label>Select Role</mat-label>
          <mat-select placeholder="Choose a role" [(ngModel)]="role.roleName">
            <mat-option *ngFor="let role of rolesList" [value]="role.roleName">{{ role.roleName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-radio-group [(ngModel)]="role.managementStatus">
          <mat-radio-button value="management">Management</mat-radio-button>
          <mat-radio-button value="non-management">Non-Management</mat-radio-button>
        </mat-radio-group>

  
        <mat-form-field>
          <mat-label>Entry Data</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Choose entry date" [(ngModel)]="role.entryDate"
            readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <button mat-button color="primary" (click)="addRole()">Add Role</button>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
      </mat-action-row>
    </mat-expansion-panel> -->

  <!-- Role Selection Panel -->
  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Role Selection
      </mat-panel-title>
      <mat-panel-description>
        Choose your roles and provide additional information
        <mat-icon>assignment</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Role selection form fields -->
    <div formArrayName="employeeRoles"> <!-- FormArrayName directive -->
      <div *ngFor="let roleGroup of employeeRolesFormArray.controls; let i = index" class="role-selection">
        <div [formGroupName]="i"> <!-- FormGroupName directive -->
          <mat-form-field>
            <mat-label>Select Role</mat-label>
            <mat-select placeholder="Choose a role" formControlName="roleName">
              <mat-option *ngFor="let role of rolesList" [value]="role.roleName">{{ role.roleName }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-radio-group formControlName="isManagementRole">
            <mat-radio-button value="0">Management</mat-radio-button>
            <mat-radio-button value="1">Non-Management</mat-radio-button>
          </mat-radio-group>

          <mat-form-field>
            <mat-label>Entry Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="entryDate" placeholder="Choose entry date" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- Remove Role button -->
          <button mat-icon-button color="warn" (click)="removeRole(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Button to add new role -->
    <button mat-button color="primary" (click)="addRole()">Add Role</button>

    <!-- Previous and submit buttons -->
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
    </mat-action-row>
  </mat-expansion-panel>

    <!-- Previous and submit buttons -->
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" type="submit" (click)="submit()">Submit</button>
    </mat-action-row>
    <!-- </mat-expansion-panel> -->
  </mat-accordion>
</form>