<mat-card>
  <mat-card-header >
      <mat-card-title >Our Company's Story</mat-card-title>
      <mat-card-subtitle>Learn about our journey and our amazing team</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <p>
          At Employee Management Hub, our mission is to streamline and enhance the management of employees across various businesses. Our platform acts as a centralized hub where employees can access company-specific resources, information, and tools tailored to their needs, fostering collaboration and efficiency.
      </p>
      <p>
          We understand the importance of diversity and dynamics within different businesses. Therefore, our platform provides each business with its own dedicated space, ensuring that employees have access to relevant information and resources specific to their organization. This personalized approach enhances engagement and productivity.
      </p>
      <p>
          Transparency, creativity, and strong client relationships are at the core of our values. Through collaboration and innovation, we continuously evolve our platform to meet the evolving needs of our clients. Our user-friendly interface and customizable features empower businesses to adapt and thrive in today's dynamic work environment.
      </p>
  </mat-card-content>
  <mat-card-actions>
      <button mat-flat-button color="primary" (click)="toLogin()" matTooltip="click to login">
          <mat-icon>login</mat-icon>
          Login and start work!</button>
  </mat-card-actions>
</mat-card>