  <div
  class="bg-image"
  style="
    background-image: url('../../assets/homePage2.gif');
    height: 500vh;
    width: 100%;
    position: fixed;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);" >
    <div class="d-flex justify-content-center align-items-center h-100 " id="flex">
      <button class="text-white mb-0" mat-flat-button color="primary" (click)="toLogin()" matTooltip="click to login">
          Login to Employee Management Hub web
          <mat-icon>login</mat-icon>
      </button>    
    </div>
  </div>
</div>
