.example-spacer {
  flex: 1 1 auto;
}
// :host {
//   display: block;
//   padding-bottom: 12vh;
// }
/* סגנונות עבור ההידר */
.mat-toolbar {
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* כדי שההידר יהיה מעל כל שאר האלמנטים */
}

// /* עיצוב עבור תוכן הדף */
// :host {
//   display: block;
//   padding-top: 10vh; /* כדי למנוע חפיפה עם ההידר */
//   padding-bottom: 12vh;
// }


mat-toolbar {
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
}

mat-toolbar mat-icon-button {
  height: 100%; /* גובה מלא עבור כפתורי האייקונים */
  // min-width: 40px; /* רוחב מינימלי עבור כפתורי האייקונים */
  margin: 0; /* איפוס מרווחי פנים */
}

mat-toolbar .example-spacer {
  flex: 1 1 auto;
}
:host {
  display: block;
  padding-top: 10vh; /* כדי למנוע חפיפה עם ההידר */
  // padding-bottom: 12vh;
  padding-bottom: 0vh;
}
/* עיצוב עבור תוכן הדף כאשר יש גלילה */
:host.scrolled {
  padding-top: 12vh; /* כדי להציג את ההידר כאשר הוא קבוע במעלה */
}