  <!-- <div class="footer">
  <mat-toolbar color="warn" >
    <span class="fill-remaining-space"></span>
    <div class="footer-content">
      Employees Web 
      Developed by batya wail 
      2024
    </div>
  </mat-toolbar></div>
   -->
   <div class="footer">
    <mat-toolbar color="warn">
      <span class="fill-remaining-space"></span>
      <div class="footer-content">
        <span>Employee Management Hub Developed by Batya Wail</span> 
        <!-- <span>Developed by Batya Wail</span>  -->
        <span>&copy; 2024 </span>
        <div class="contact-info">
            <!-- <mat-icon></mat-icon> -->
            <!-- <mat-icon class="contact">contact_mail</mat-icon> -->
          <span class="contact"><a href="mailto:batya4119712@gmail.com">            
            <mat-icon>send-email</mat-icon>
            {{this.email}}
          </a></span>
          <span class="contact">|</span>
          <span class="contact">
            <mat-icon>phone</mat-icon>
            0504119712</span>
        </div>
        <!-- <div class="contact-info">
          <span><a href="mailto:batya4119712@gmail.com">Contact Us</a></span>
          <span>|</span> 
          <span>050-411-9712</span>
      </div> -->
      </div>
    </mat-toolbar>
  </div>
  
   <!-- <div class="footer">
    <mat-toolbar color="warn">
        <span class="fill-remaining-space"></span>
        <div class="footer-content">
            <span>Employee Web</span>
            <span>Developed by Batya Wail</span>
            <span>&copy; 2024</span>
            <div class="contact-info">
                <a href="mailto:batya4119712@gmail.com">Contact Us</a>
                <span>|</span> 
                <span>050-411-9712</span>
            </div>
        </div>
    </mat-toolbar>
</div> -->
