<h2 mat-dialog-title>edit employee with identity: {{data.identity}}</h2>
<mat-dialog-content>
  <!-- <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.firstName">
  </mat-form-field> -->

  <form [formGroup]="employeeForm" style="display: grid; grid-template-columns: 1fr; grid-gap: 10px;">
    <!-- <div style="display: none;">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter first name" type="text">
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter last name" type="text">
      </mat-form-field>
    </div> -->
    <mat-form-field>
      <mat-label>Identity</mat-label>
      <input matInput formControlName="identity" placeholder="Enter identity" type="text">
      <mat-error *ngIf="this.employeeForm.get('identity')?.hasError('required')">the field is
        required!</mat-error>
      <mat-error *ngIf="this.employeeForm.get('identity')?.hasError('minlength')">
        the identity must be at least 9 characters
      </mat-error>
      <mat-error *ngIf="this.employeeForm.get('identity')?.hasError('maxlength')">
        the identity must be at most 9 characters
      </mat-error>
      <mat-error
      *ngIf="this.employeeForm.get('identity')?.hasError('invalidIdentityFormat')&&!employeeForm.get('identity')?.hasError('minlength')&&!employeeForm.get('identity')?.hasError('maxlength')&&!employeeForm.get('identity')?.hasError('required')">Invalid
      identity
      format</mat-error>
    </mat-form-field>
    <div style="display: grid; grid-template-columns: auto auto;">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" placeholder="Enter first name" type="text">
        <mat-error *ngIf="this.employeeForm.get('firstName')?.hasError('required')">the field is
          required!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" placeholder="Enter last name" type="text">
        <mat-error *ngIf="this.employeeForm.get('lastName')?.hasError('required')">the field is
          required!</mat-error>
      </mat-form-field>
    </div>


    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="birthdatePicker" formControlName="dateOfBirth"
        placeholder="Choose your birthdate" readonly>
      <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
      <mat-datepicker #birthdatePicker></mat-datepicker>
      <mat-error *ngIf="this.employeeForm.get('dateOfBirth')?.hasError('required')">the field is
        required!</mat-error>
      <mat-error *ngIf="employeeForm.get('dateOfBirth')?.hasError('invalidDateOfBirth')">The date is
        The birth date must be at least before 18 years!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="maleOrFmale" placeholder="Select your gender">
        <mat-option value="0">Male</mat-option>
        <mat-option value="1">Female</mat-option>
      </mat-select>
      <mat-error *ngIf="this.employeeForm.get('maleOrFmale')?.hasError('required')">the field is
        required!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="Choose a date" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="employeeForm.get('startDate')?.hasError('required')">the field is
        required!</mat-error>
      <!-- <mat-error *ngIf="employeeForm.get('startDate')?.hasError('invalidStartDate')">Start date must be after
        the
        date of birth!</mat-error> -->
      <!-- <mat-error *ngIf="employeeForm.get('startDate')?.hasError('pastStartDate')">Start date cannot be in the past</mat-error> -->
      <mat-error *ngIf="employeeForm.get('startDate')?.hasError('futureDate')">
        Start Date cannot be in the future
      </mat-error>
      <mat-error *ngIf="employeeForm.get('startDate')?.hasError('underAge')">
        Age must be at least 18 years
      </mat-error>
    </mat-form-field>
    <div style="display: grid; grid-template-columns: 1fr;">

      <div formArrayName="employeeRoles">
        <div *ngFor="let roleGroup of employeeRolesFormArray.controls; let i = index" class="role-selection">
          <div [formGroupName]="i" style="display: grid; grid-template-columns: auto auto;">
            <mat-form-field>
              <mat-label>Select Role</mat-label>
              <mat-select placeholder="Choose a role" formControlName="roleId">
                <mat-option *ngFor="let role of rolesList" [value]="role.roleId">{{ role.roleName }}</mat-option>
              </mat-select>
              <mat-error *ngIf="roleGroup.get('roleId')?.hasError('required')">The field is
                required!</mat-error>
            </mat-form-field>
            <!-- <div background-color="black">
            <mat-radio-group formControlName="isManagementRole" style="background-color: #4a4a4a; display: grid; grid-template-columns: auto auto;">
              <mat-radio-button value="0">Management</mat-radio-button>
              <mat-radio-button value="1">Non-Management</mat-radio-button>
            </mat-radio-group>
  </div> -->
            <!-- <mat-form-field> -->
              <mat-slide-toggle formControlName="isManagementRole" class="example-margin">Management?</mat-slide-toggle>
            <!-- </mat-form-field> -->
            <mat-form-field>
              <mat-label>Entry Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="entryDate" placeholder="Choose entry date"
                readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="roleGroup.get('entryDate')?.hasError('required')">The field is
                required!</mat-error>
              <mat-error *ngIf="roleGroup.get('entryDate')?.hasError('startDateBeforeEntryDate')">Entry date
                must be
                after start date</mat-error>
            </mat-form-field>

            <button mat-icon-button color="warn" (click)="removeRole(i)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <button mat-button color="primary" (click)="addRole()">
        Add Role
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <!-- <div style="display: flex; justify-content: space-around; ">
      <button mat-flat-button color="warn" (click)="initializeForm()">
        reset
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-flat-button color="primary"  (click)="submit()">
        Submit
        <mat-icon>save</mat-icon>
      </button>
    </div> -->

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="warn" (click)="initializeForm()">
    reset
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data" (click)="submit()" cdkFocusInitial>
    Submit
    <mat-icon>save</mat-icon>
  </button>
</mat-dialog-actions>