<!-- <mat-dialog-content>
    {{data}}
</mat-dialog-content> -->
<!-- <mat-dialog-actions>
    <button mat-button (click)="onClick()" >Ok</button>
</mat-dialog-actions> -->
<h2 mat-dialog-title>
    {{data.title}}
    <mat-icon>{{data.icon}}</mat-icon>
</h2>
<mat-dialog-content>
 <!-- <mat-form-field>
     <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.messege">
  </mat-form-field> -->
  <div>{{data.messege}}
</div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="data.isCancelButon===true">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button  cdkFocusInitial (click)="onYesClick()">Ok</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="data.isCancelButon!==true">
    <button mat-button (click)="onYesClick()" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>